body {
  height: 98vh;
  width: 98.5vw;
  background: black;
  color: white;
  font-family: 'Raleway', Helvetica, sans-serif;
  display: grid;
  grid-template:
      "header header header header" 13vh
      "about-me about-me contact travel" 1fr
      "about-me about-me contact travel" 1fr
      "something portfolio portfolio travel" 1fr
      "something portfolio portfolio travel" 1fr
       / 1fr 1fr 1fr 1fr;
  grid-gap: 7px 7px;
}

.header {
  background: black;
  grid-area: header;
  display: flex;
  padding: 0 5px;
  justify-content: center;
}

.hidden {
  display: none;
}

.text a {
  text-decoration: none;
}

#logo-img {
  height: 14vh;
  width: 14vw;
}

/*********TILE POSITIONS AND BACKGROUND *************/
.about-me{
  grid-area: about-me;

}

.about-me .background {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

}


.contact{
  grid-area: contact;

}

.travel{
  grid-area: travel;
}

.portfolio{
  grid-area: portfolio;

}

.portfolio .text {
  display: flex;
  flex-direction: column;
}


.something {
  grid-area: something;
}

/***********STYLING ************************/
.main {
  display: flex;
}

.main .tile {
  height: 100%;
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  cursor: default;
  /*
  background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);*/
}

.main .tile img{
  height: 100%;
  width:100%;
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
  /*width: calc(100% + 60px);*/
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  /*
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-40px,0,0);
  transform: translate3d(-40px,0,0);
  */
}

.main .text {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.main .text h1{
  text-transform: uppercase;
  color: #fff;
  position: relative;
  font-size: 21px;
  background-color: transparent;
  text-align: left;
}


.main .text p {
  margin-top: 0;
  margin-left: 5px;
  max-width:50%;
  font-weight: 120%;
  font-size: 1.2em;
  opacity: 0;
  filter: alpha(opacity=0);
  background-color:transparent;
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
}


/*************MEDIA QUERIES **********************/
@media only screen and (max-width: 900px){
  body {
    height: auto !important;
    width: 96%;
    grid-template:
        "header header " 15vh
        "about-me about-me" 80vh
        "portfolio portfolio" 80vh
        "contact travel" 50vh
        "something travel" 50vh
         / 1fr 1fr;
         padding: 0 5px;
  }
  .about-me{
    grid-area: about-me;

  }

  .about-me .background {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

  }


  .contact{
    grid-area: contact;

  }

  .travel{
    grid-area: travel;
  }

  .portfolio{
    grid-area: portfolio;

  }

  .portfolio .text {
    display: flex;
    flex-direction: column;
  }


  .something {
    grid-area: something;
  }

  .hovered .middle-icons{
    width: 33% !important;
    margin-left: -5px;
    left: 35%;
    margin-top: -3.5%;
  }

   .hovered .top-icons, .hovered .bottom-icons {
    left: 37%;
    margin-top: -3.5%;
  }


}
