body {
  height: 98vh;
  width: 98.5vw;
  background: black;
  color: white;
  font-family: 'Raleway', Helvetica, sans-serif;
  display: grid;
  grid-template:
      "header header header header" 13vh
      "top-left top-left center-right right" 25fr
      "top-left top-left center-right right" 25fr
      "bot-left bot-center bot-center right" 25fr
      "bot-left bot-center bot-center right" 25fr
       / 25fr 25fr 25fr 25fr;
  grid-gap: 7px 7px;
}

.header {
  background: black;
  grid-area: header;
  display: flex;
  padding: 0 5px;
  justify-content: center;
}

.hidden {
  display: none;
}

#logo-img {
  height: 14vh;
  width: 14vw;
}

/*********TILE POSITIONS AND BACKGROUND *************/
.top-left{
  grid-area: top-left;

}

.top-left .background {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

}


.center-right{
  grid-area: center-right;

}

.right{
  grid-area: right;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.bottom-center{
  grid-area: bot-center;
  flex-direction: column;
  align-items: flex-end;
}

.bottom-center .text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.bottom-center .text h1{
  padding-right: 50px;
}



.bottom-left {
  grid-area: bot-left;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/***********STYLING ************************/
.main {
  display: flex;
}

.main .tile {
  height: 100%;
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  cursor: default;
  /*
  background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);*/
}

.main .tile img{
  height: 100%;
  max-width: none;
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
  width: calc(100% + 60px);
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  /*
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-40px,0,0);
  transform: translate3d(-40px,0,0);
  */
}

.main .text {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 3em;
}

.main .text h1{
  text-transform: uppercase;
  color: #fff;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  padding: 20px 0 10px 0;
  text-align: left;
}


.main .text p {
  margin-top: 0;
  margin-left: 5px;
  font-weight: 120%;
  font-size: 1.2em;
  opacity: 0;
  filter: alpha(opacity=0);
  background-color:transparent;
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
}

.bottom-center h1{
  margin-right: 5%;
}
.bottom-center p {
  padding-right: 9%;
}
